/* ---- CSS reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  color: #111;
  font-family: "Luckiest Guy", cursive;
  font-size: 16px;
  line-height: 147%;
}

/* ---- layout ---- */

html,
body {
  height: 100%;
}

.container {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1000px; /* Resizes the container to 728px for large screens */
    max-height: 600px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game header {
  height: 50px;
  display: flex;
  align-items: center;
}

/* SPLASH SCREEN */

.start-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 5px dotted rgb(238, 94, 118);
  width: 700px;
  margin: auto;
  margin-top: 50px;
}

.walk-me {
  margin: 401;
  max-width: 50%;
  height: auto;
  align-self: center;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  font-family: inherit;
  font-size: 1em;
}

.start-button {
  align-self: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: bolder;
  font-size: 20px;
  width: 120px;
  height: 40px;
  border: solid 2px rgb(177, 88, 103);
  background-color: rgb(238, 94, 118);
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ranking-button {
  align-self: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: bolder;
  font-size: 20px;
  width: 120px;
  height: 40px;
  border: solid 2px rgb(177, 88, 103);
  background-color: rgb(238, 94, 118);
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* NAME SCREEN */

.name-screen {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px yellow solid;
  width: 400px;
  background-color: rgb(241, 241, 67);
  border-radius: 8px;
  box-shadow: 5px 5px #d3c6c6;
}

label {
  width: fit-content;
  align-self: center;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-size: 25px;
  padding-top: 10px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 3px #080808, 0 0 5px #080808;
}

#username {
  align-self: center;
  height: 80px;
  width: 400px;
  margin-top: 15px;
  margin-bottom: 20px;
  border: none;
  text-align: center;
  font-size: 20px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: rgba(216, 168, 190, 0.8);
  width: 700px;
  align-self: center;
  border-radius: 8px;
  box-shadow: 5px 10px #9b8f8f;
  margin-bottom: 20px;
}

.instructions h3 {
  align-self: center;
  font-size: 25px;
  margin-top: 35px;
  background-color: rgb(238, 94, 118, 0.8);
  width: 300px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border-radius: 15px 50px 30px 5px;
}

.press-btn {
  align-self: center;
  text-align: center;
  padding-top: 15px;
  background-color: white;
  width: 100px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nasty {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.nasty img {
  margin: 0 auto;
  width: 70px;
}

.good img {
  margin: 0 auto;
  width: 90px;
}

.start-button-name {
  align-self: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: bolder;
  font-size: 20px;
  width: 120px;
  height: 40px;
  border: solid 2px rgb(177, 88, 103);
  background-color: rgb(238, 94, 118);
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* GAME SCREEN */

.game .lives {
  flex: 1;
}

.game .score {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.game .label {
  font-weight: bold;
  padding-right: 10px;
}

.game .value {
  font-style: italic;
}

.game .canvas-container {
  flex: 1;
}

.energy-bar {
  background-color: lightgray;
  height: 30px;
  width: 507px;
  margin: 0 auto;
  border: solid 3px rgb(76, 78, 68);
}

.energy-yellow {
  background-color: yellow;
  width: 500px;
  height: 100%;
  position: inherit;
  bottom: 56px;
}

/* GAME OVER SCREEN */

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 5px dotted rgb(79, 61, 241);
  width: 700px;
  margin: auto;
  margin-top: 50px;
}

.game-over-image {
  margin: 401;
  max-width: 70%;
  height: auto;
  align-self: center;
}

.score-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 60px;
  font-family: "Luckiest Guy", cursive;
  font-size: 35px;
  font-weight: bold;
}

.score {
  align-self: center;
  text-align: center;
  width: 10px;
  display: flex;
}

.restart-btn {
  align-self: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: bolder;
  font-size: 20px;
  width: 130px;
  height: 40px;
  border: solid 2px rgb(177, 88, 103);
  background-color: rgb(238, 94, 118);
  color: white;
  border-radius: 5px;
  margin-bottom: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-btn {
  align-self: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: bolder;
  font-size: 20px;
  width: 130px;
  height: 40px;
  border: solid 2px rgb(177, 88, 103);
  background-color: rgb(238, 94, 118);
  color: white;
  border-radius: 5px;
  margin-bottom: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
