/* ---- CSS reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

/* ---- layout ---- */

html,
body {
  height: 100%;
}

.container {
  margin: 0 20px;
  /* background-image: url(https://wallpaperaccess.com/full/17493.jpg); */
}

@media (min-width: 768px) {
  .container {
    max-width: 1000px; /* Resizes the container to 728px for large screens */
    max-height: 600px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game header {
  height: 50px;
  display: flex;
  align-items: center;
}

.start-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 5px dotted rgb(238, 94, 118);
  width: 700px;
  margin: auto;
  margin-top: 50px;
}

.walk-me {
  margin: 401;
  max-width: 50%;
  height: auto;
  align-self: center;
}

button {
  font-family: inherit;
  font-size: 1em;
}

.start-button {
  align-self: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: bolder;
  font-size: 20px;
  width: 100px;
  height: 40px;
  border: solid 2px rgb(177, 88, 103);
  background-color: rgb(238, 94, 118);
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game .lives {
  flex: 1;
}

.game .score {
  flex: 1;
}

.game .label {
  font-weight: bold;
}

.game .value {
  font-style: italic;
}

.game .canvas-container {
  flex: 1;
}

.energy-bar {
  background-color: lightgray;
  height: 30px;
  width: 500px;
  margin: 0 auto;
  border: solid 3px rgb(76, 78, 68);
}

.energy-yellow {
  background-color: yellow;
  width: 500px;
  height: 100%;
  position: inherit;
  bottom: 56px;
}
